In [1]:
#  Importing libraries
import pandas as pd 
import numpy as nu 
# !pip install kaggle
import kaggle

In [2]:
# downloading dataset from kaggle API
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
 #extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [4]:
# Reading data from the file and handling nnull values
df=pd.read_csv('orders.csv',na_values=['Not Available','unknown'])

In [5]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [6]:
# Changing the columns into lowercase and removing spaces between them
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')

In [7]:
# #derive new columns discount , sale price and profit
df['discount']=df['list_price']*df['discount_percent']*0.01
df['sale_price']=df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']

In [8]:
# Convert order date from objevt data type to datetime
df['order_date']=pd.to_datetime(df['order_date'],format='%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          9994 non-null   int64
 1   order_date        9994 non-null   datetime64[ns]
 2   ship_mode         9988 non-null   object
 3   segment           9994 non-null   object
 4   country           9994 non-null   object
 5   city              9994 non-null   object
 6   state             9994 non-null   object
 7   postal_code       9994 non-null   int64
 8   region            9994 non-null   object
 9   category          9994 non-null   object
 10  sub_category      9994 non-null   object
 11  product_id        9994 non-null   object
 12  cost_price        9994 non-null   int64
 13  list_price        9994 non-null   int64
 14  quantity          9994 non-null   int64
 15  discount_percent  9994 non-null   int64
 16  discount          9994 non-null   float64
 17  sale_price        9994 non-null   float64
 18  profit            9994 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(6), object(9)
memory usage: 1.4+ MB

In [9]:
# Droping cost price, list price and discount percent from the DB because they are not further needed
df.drop(columns=['cost_price','list_price','discount_percent'],inplace=True)

In [17]:
# Loading this data into MySQL 
!pip install sqlalchemy pymysql
import sqlalchemy as sal
engine = sal.create_engine('mysql+pymysql://root:password@localhost:3306/df_orders')
conn = engine.connect()
df.to_sql('sales_data', con=conn, if_exists='append', index=False)
conn.close()

Requirement already satisfied: sqlalchemy in c:\users\siddharth sharma\appdata\local\python\pythoncore-3.14-64\lib\site-packages (2.0.46)
Requirement already satisfied: pymysql in c:\users\siddharth sharma\appdata\local\python\pythoncore-3.14-64\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet>=1 in c:\users\siddharth sharma\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\siddharth sharma\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from sqlalchemy) (4.15.0)

In [11]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')